#gameCanvas{
    box-shadow: 2px 2px 2px 2px rgb(0,0,0);
}

#gameContainer{
    width:100%;
    display: flex;
    justify-content: center;
}

.btn{
    padding:8px 12px;
    border:none;
    border-radius: 2px;
    background-color: rgb(124, 125, 204);
    transition: all 0.5s;
}

.btn:hover {
    background-color: rgb(255, 0, 0);
}